#cadjs__container {
    background-color: var(--cadjs-container-background);
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
}

#cadjs__container .cadjs__canvas {
    background-color: var(--cadjs-canvas-background);
    cursor: crosshair;
    flex-grow: 1;
}

#cadjs__container .cadjs__pan {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

#cadjs__container button {
    padding: 15px;
    background-color: var(--cadjs-buttons-background);
    border: none;
}
#cadjs__container .cadjs__tools {
    margin-bottom: 10px;
}
