#cadjs__container {
    background-color: var(--cadjs-container-background);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-items: stretch;
    height: 100%;
}

#cadjs__container .cadjs__canvas {
    background-color: var(--cadjs-canvas-background);
    cursor: crosshair;
    margin: 0 10px 10px 10px;
    flex: 1;
}

#cadjs__container .cadjs__pan {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

#cadjs__container button {
    padding: 15px;
    background-color: var(--cadjs-buttons-background);
    border: none;
}

#cadjs__container .cadjs__tools {
    padding: 10px;
}
