:root {
    --cadjs-container-background: rgb(51 65 85);
    --cadjs-canvas-background: rgb(15 23 42);

    --cadjs-toolbar-border: rgb(215, 159, 255);

    --cadjs-toolbar-button-background: rgb(51 65 85);
    --cadjs-toolbar-button-hover-background: rgb(30, 40, 60);
}

* {
    box-sizing: border-box;
    line-height: 0;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

#cadjs__app {
    height: 100%;
    width: 100%;
}
